<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xi.mapper.OrderItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xi.domain.OrderItemDo">
        <id column="order_item_id" property="orderItemId" />
        <result column="shop_id" property="shopId" />
        <result column="shop_name" property="shopName" />
        <result column="user_id" property="userId" />
        <result column="prod_name" property="prodName" />
        <result column="prod_count" property="prodCount" />
        <result column="order_serial_id" property="orderSerialId" />
        <result column="order_serial_number" property="orderSerialNumber" />
        <result column="cost" property="cost" />
        <result column="actual_cost" property="actualCost" />
        <result column="pay_type" property="payType" />
        <result column="remarks" property="remarks" />
        <result column="status" property="status" />
        <result column="dvy_id" property="dvyId" />
        <result column="dvy_type" property="dvyType" />
        <result column="dvy_flow_id" property="dvyFlowId" />
        <result column="dvy_time" property="dvyTime" />
        <result column="freight_amount" property="freightAmount" />
        <result column="addr_order_id" property="addrOrderId" />
        <result column="product_nums" property="productNums" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="pay_time" property="payTime" />
        <result column="finally_time" property="finallyTime" />
        <result column="cancel_time" property="cancelTime" />
        <result column="is_payed" property="isPayed" />
        <result column="is_delete" property="isDelete" />
        <result column="reduce_amount" property="reduceAmount" />
        <result column="close_type" property="closeType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_item_id, shop_id, shop_name, user_id, prod_name, prod_count, order_serial_id, order_serial_number, cost, actual_cost, pay_type, remarks, status, dvy_id, dvy_type, dvy_flow_id, dvy_time, freight_amount, addr_order_id, product_nums, create_time, update_time, pay_time, finally_time, cancel_time, is_payed, is_delete, reduce_amount, close_type
    </sql>

</mapper>
