<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xi.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xi.entity.tb.OrderDo">
        <id column="order_item_id" property="orderItemId" />
        <result column="shop_id" property="shopId" />
        <result column="shop_name" property="shopName" />
        <result column="user_id" property="userId" />
        <result column="prod_name" property="prodName" />
        <result column="prod_count" property="prodCount" />
        <result column="prod_id" property="prodId" />
        <result column="sku_id" property="skuId" />
        <result column="order_serial_number" property="orderSerialNumber" />
        <result column="cost" property="cost" />
        <result column="actual_cost" property="actualCost" />
        <result column="addr_order_id" property="addrOrderId" />
        <result column="remarks" property="remarks" />
        <result column="pay_type" property="payType" />
        <result column="status" property="status" />
        <result column="dvy_id" property="dvyId" />
        <result column="dvy_type" property="dvyType" />
        <result column="dvy_flow_id" property="dvyFlowId" />
        <result column="dvy_time" property="dvyTime" />
        <result column="freight_amount" property="freightAmount" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="pay_time" property="payTime" />
        <result column="finally_time" property="finallyTime" />
        <result column="cancel_time" property="cancelTime" />
        <result column="is_payed" property="isPayed" />
        <result column="is_delete" property="isDelete" />
        <result column="reduce_amount" property="reduceAmount" />
        <result column="close_type" property="closeType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_item_id, shop_id, shop_name, user_id, prod_name, prod_count, prod_id, sku_id, order_serial_number, cost, actual_cost, addr_order_id, remarks, pay_type, status, dvy_id, dvy_type, dvy_flow_id, dvy_time, freight_amount, create_time, update_time, pay_time, finally_time, cancel_time, is_payed, is_delete, reduce_amount, close_type
    </sql>

    <update id="batchUpdateStatus">
        update tb_order
        set status = 6, close_type = 1
        where order_id in
              <foreach collection="orderIdList" item="orderId" open="(" separator="," close=")">
                  #{orderId}
              </foreach>
    </update>

    <delete id="removeBatchByOrderSerialNumberList">
        delete from tb_order
        where order_serial_number in
        <foreach collection="orderSerialNumberList" item="items" open="(" separator="," close=")">
            #{items}
        </foreach>
    </delete>

    <select id="existsById" resultType="java.lang.Boolean">
        select count(*) > 0
        from tb_order
        where order_id = #{orderId}
    </select>

    <select id="getTimeoutOrders" resultMap="BaseResultMap">
        select order_id, prod_count
        from tb_order
        where status = 0
        and create_time &lt; now() - interval 1 day
    </select>

</mapper>
