<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xi.mapper.SkuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xi.domain.SkuDo">
        <id column="sku_id" property="skuId" />
        <result column="sku_name" property="skuName" />
        <result column="prod_id" property="prodId" />
        <result column="prod_name" property="prodName" />
        <result column="properties" property="properties" />
        <result column="price" property="price" />
        <result column="stocks" property="stocks" />
        <result column="party_code" property="partyCode" />
        <result column="model_id" property="modelId" />
        <result column="pic" property="pic" />
        <result column="weight" property="weight" />
        <result column="volume" property="volume" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sku_id, sku_name, prod_id, prod_name, properties, price, stocks, party_code, model_id, pic, weight, volume, status, create_time, update_time, version
    </sql>

    <update id="updateStocks">
        update tb_sku set stocks = stocks - #{stocks}, version = version + 1 where sku_id = #{skuId} and stocks &gt;= #{stocks}
    </update>

    <update id="updateStocksLock">
        update tb_sku set stocks = stocks - #{stocks}, version = version + 1 where sku_id = #{skuId} and stocks &gt;= #{stocks} and version = #{version}
    </update>

    <update id="releaseStock">
        update tb_sku set stocks = stocks + #{stocks}, version = version + 1 where sku_id = #{skuId} and version = #{version}
    </update>

    <select id="getSkuDoBySkuId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>
        from tb_sku where sku_id = #{skuId}
    </select>

    <select id="getStocksAndVersionByProdId" resultType="com.xi.domain.dto.SkuDto">
        select skuId, stocks, version
        from tb_sku where prod_id = #{prodId}
    </select>

    <select id="getSkuIdsByProdId" resultType="java.lang.String">
        select skuId
        from tb_sku where prod_id = #{prodId}
    </select>

    <select id="getStocksAndVersionBySkuId" resultType="com.xi.domain.SkuDo">
        select <include refid="Base_Column_List"></include>
        from tb_sku where sku_id = #{skuId}
    </select>

    <select id="getStocksAndVersionAll" resultType="com.xi.domain.SkuDo">
        select stocks, version, sku_id
        from tb_sku where status = 1
    </select>


</mapper>
