<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xi.mapper.UserAddrMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xi.domain.UserAddr">
        <id column="addr_id" property="addrId" />
        <result column="user_id" property="userId" />
        <result column="receiver" property="receiver" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="area" property="area" />
        <result column="post_code" property="postCode" />
        <result column="addr" property="addr" />
        <result column="mobile" property="mobile" />
        <result column="status" property="status" />
        <result column="common_addr" property="commonAddr" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        addr_id, user_id, receiver, province, city, area, post_code, addr, mobile, status, common_addr, create_time, update_time, version
    </sql>
    <select id="getUserAddrByUserIdAndAddrId" resultType="com.xi.domain.UserAddr">
        select <include refid="Base_Column_List"></include>
        from user_addr where user_id = #{userId} and addr_id = #{addrId}
    </select>

</mapper>
